*{
    box-sizing: border-box;
}

html, body {
    font-family: "Source Sans 3", sans-serif;
    background: #C6C6C6;
    margin: 0;
}

h3, p{
    margin: 0;
}


h3{
    padding-top: 0.3125rem;
    font-weight: 900;
}

p{
    font-size: 1.0625rem;
    font-weight: 600;
}

h3[id^="likes-"] {
    margin-left: 0.8em;
}

span{
    font-weight: 900;
}

#header-container{
    width: 100%;
    max-width: 630px;
    padding: 0.625em;
    background-color: white;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #C6C6C6;
}

#logo-resize{
    width: 11.25em;
    height: 5em;
}

.avatar-resize{
    width: 3.4375em;
    height: 3.4375em;
    border-radius: 50%;
}

.section-container{
    width: 100%;
    max-width: 630px;
    background-color: white;
}

.user-section{
    padding: 1.25em 0.625em 0px 0.625em;
    display: flex;
    margin-bottom: 0.625em;
}

.padding-for-user-follower-avatar{
    margin-right: 15px;
}

.post-resize{
    width: 100%;
    margin-bottom: 1.875em;
}

.button-resizer{
    height: 2em;
    width: 2em;
    margin: 0 0.625em;
}

.button-resizer:hover{
    opacity: 0.5;
}

.appeals-bar{
    margin-bottom: 0.625em;
}

#likes{
    margin: 0px 0px 0.625em 0.9375em;
}

.following-info{
    margin: 0px 0.625em 0 0.9375em;
    padding-bottom: 1.25em;

}

.seperator{
    border-bottom: 3px solid #C6C6C6 ;
    width: 100%;
}

@media(min-width: 631px){
    #header-container{
        margin: 0 auto;        
    }

    .section-container{
        margin: 0 auto;
    }
}